@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-color: #FFF0F5;
  color: #0f141e;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  height: 100%;
}

.footer {
  padding: 5px;
  background-color: #284544;
  color: #fff;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: darkcyan;
}

a:active {
  color: #708090;
}

.man {
  width: 750px;
  border-radius: 22px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  justify-content: center;
}

.container {
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.top {
  font-weight: bold;
}

.book-top {
  display: flex;
}

.book-top-text {
  margin-left: 40px;
}

.books-img {
  width: 250px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  height: auto;
}

.conclusions {
  font-style: italic;
}

.card {
  padding: 15px 20px;
  margin-bottom: 100px;
  border-radius: 20px;
  margin-top: 50px;
}

.bg-lightblue {
  background: #ADD8E6;
}

.name {
  color: #708090;
}

.books {
  color: #708090;
}

.footer-links {
  position: absolute;
  right: 25px;
  color: #F5F5F7;
}

.footer-rights {
  font-size: 15px;
  color: #F5F5F7;
}

.footer-info {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.image-link:hover {
  opacity: 0.9;
}

.image-link {
  transition: opacity 0.3s ease;
}

img.books-img.image-link {
  height: 330px;
}

.footer-logo {
  margin-left: 15px;
}
